body{

    box-sizing: border-box;

    margin: 0;

    padding: 0;
 background-color: black;
 color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
} img{
    min-width: 25vw;
}







